# Byte-compiled files
*.py[cod]
__pycache__/

# Virtual environment
venv/
ENV/
env/
.venv/

# VSCode files
.vscode/

# Jupyter Notebook checkpoints and metadata
.ipynb_checkpoints/
*.ipynb-meta

# Python package files
*.egg-info/
*.egg
*.whl

# PyInstaller
dist/
build/
*.spec

# Cython debug symbols
cython_debug/

# Test coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/

# Logs
*.log
*.log.*

# IDE project files
.idea/

# Additional src folder ignores
src/__pycache__/
src/*.py[cod]
src/*.log
src/*.egg-info/
src/*.whl
src/.ipynb_checkpoints/
src/.mypy_cache/
src/.pytest_cache/
src/build/
src/dist/
src/cython_debug/
src/*.spec
